*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    width: 100%;
    height: auto;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: #118ab2;
    background-image: linear-gradient(319deg, #118ab2 0%, #06d6a0 37%, #ffd166 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
}
.button-aria{
    height:10vh;
    width: 100%;
    padding-left: 10px;  
}
#toggleButton{
    cursor: pointer;
 padding: 10px 20px;
 border-radius: 10px;
 border: none;
 background-color: #ffffff;
 text-transform: uppercase;
}
.clock-aria{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.clock{
    width: 25rem;
    height: 25rem;
    border: 20px solid white ;
    border-radius: 50%;
    position: relative;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}
/*Created By Subham Das */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
} 
.clock-face{
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px);
    
}



.hand{
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    /* transition: all 0.5s; */
    transition-timing-function: cubic-bezier(0.1,2.7,0.58,1);
	/*Created By Subham Das */
}

.hour-hand{
    background: white;
}
.sec-hand{
 background: blueviolet;
}

.hour-number {
    position: absolute;
    top: 135px;
    right: 155px;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	/*Created By Subham Das */
    font-weight: bold;
    color: rgb(255, 255, 255);
    transform-origin: 50% 100%;
}


/* Positioning each hour number around the clock */
.hour-number:nth-child(1) { transform: rotate(30deg) translateY(-130px); }
.hour-number:nth-child(2) { transform: rotate(60deg) translateY(-130px); }
.hour-number:nth-child(3) { transform: rotate(90deg) translateY(-130px); }
.hour-number:nth-child(4) { transform: rotate(120deg) translateY(-130px); }
.hour-number:nth-child(5) { transform: rotate(150deg) translateY(-130px); }
.hour-number:nth-child(6) { transform: rotate(270deg) translateY(-130px); }
.hour-number:nth-child(7) { transform: rotate(210deg) translateY(-130px); }
.hour-number:nth-child(8) { transform: rotate(240deg) translateY(-130px); }
/*Created By Subham Das */
.hour-number:nth-child(9) { transform: rotate(180deg) translateY(-130px); }
/*Created By Subham Das */
.hour-number:nth-child(10) { transform: rotate(300deg) translateY(-130px); }
.hour-number:nth-child(11) { transform: rotate(330deg) translateY(-130px); }
.hour-number:nth-child(12) { transform: rotate(360deg) translateY(-130px); }


/* Degital cock */
#Dg-clock{
    height: 100%;
    width: 100%;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
    border-radius: 5px;
	/*Created By Subham Das */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding:20px;
}
.Dg-clock span{
 display:flex;
justify-content: center;
    align-items: center;
}

.dgt-clock{
    height: 50vh;
    width: 30rem;
    background-color: #ffffff;
    margin: 30px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

@media (max-width: 550px) {
   
    .dgt-clock{
        height: 25vh;
        width: 100%;
       
    }
    #Dg-clock{
        padding: 10px;
    }
  }
/*Created By Subham Das */
